//- index.pug
doctype html
html(lang="fr")
  head
    meta(charset='utf-8')
    title Just playing with the marvelous eleventy
    meta(name='description', content='A sandbox to experiment 11ty')
    meta(name='author', content='charlyoleg')
  body
    p Hello world from a new static planet!
    p
      a(href='/README') README
    p
      a(href='/far/away/star') the star page
